
.idea/encodings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/Tabulo.iml
.idea/vcs.xml
.idea/workspace.xml
c:\temp\data.png
luminoth/utils/pretrained_models/luminoth/checkpoints/6aac7a1e8a8e/checkpoint
luminoth/utils/pretrained_models/luminoth/checkpoints/6aac7a1e8a8e/classes.json
luminoth/utils/pretrained_models/luminoth/checkpoints/6aac7a1e8a8e/config.yml
luminoth/utils/pretrained_models/luminoth/checkpoints/6aac7a1e8a8e/model.ckpt-3380.data-00000-of-00001
luminoth/utils/pretrained_models/luminoth/checkpoints/6aac7a1e8a8e/model.ckpt-3380.index
luminoth/utils/pretrained_models/luminoth/checkpoints/6aac7a1e8a8e/model.ckpt-3380.meta
luminoth/utils/pretrained_models/luminoth/checkpoints/aad6912e94d9/checkpoint
luminoth/utils/pretrained_models/luminoth/checkpoints/aad6912e94d9/classes.json
luminoth/utils/pretrained_models/luminoth/checkpoints/aad6912e94d9/config.yml
luminoth/utils/pretrained_models/luminoth/checkpoints/aad6912e94d9/model.ckpt-2844549.data-00000-of-00001
luminoth/utils/pretrained_models/luminoth/checkpoints/aad6912e94d9/model.ckpt-2844549.index
luminoth/utils/pretrained_models/luminoth/checkpoints/aad6912e94d9/model.ckpt-2844549.meta
luminoth/utils/pretrained_models/luminoth/checkpoints/checkpoints.json
luminoth/utils/pretrained_models/luminoth/resnet_v1_101.ckpt
luminoth/utils/pretrained_models/luminoth/runs.json
c:\temp\data.png
c:\temp\data.png
