<html>
  <head>
    <title>Tabulo</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="/static/favicon.ico"/>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div class="main">
      <div class="header">
        <img class="header-logo" src="/static/tabulo.png" />
        <div class="header-title">Tabulo</div>
      </div>
      <div class="menu">
        <form id="image-form" class="image-form">
          <div class="form-options">
            <div class="form-option">
              <label class="form-option-label">Image</label>
              <input id="image-field" class="form-option-value"
                     name="image" type="file" />
            </div>
            <div class="form-option">
              <label class="form-option-label">
                Probability threshold
              </label>
              <input id="prob-threshold" class="form-option-value"
                     name ="th", type="range" min="1" max="100" value="70" />
              <span id="prob-threshold-value">0.70</span>
            </div>
          </div>
          <div class="form-actions">
            <button id="button-luminoth1", class="form-button" type="submit">
              Submit
            </button>
            <button id="button-luminoth2", class="form-button" type="submit">
              Extract
            </button>
          </div>
          <div class="form-actions">
          </div>
        </form>
      </div>
      <div class="separator"></div>
      <div class="main-result">
        <div class="main-result-canvas">
          <canvas id="result-canvas"></canvas>
        </div>
        <div id="result-separator" class="separator"></div>
        <div id="response">
          <div>Raw API response:</div>
          <pre><code id="api-response"></code></pre>
        </div>
        <div id="loading">
          <div class="loader">Loading...</div>
        </div>
      </div>
      <div class="footer">
        <a href="https://cognizer.ai/">
          <img class="footer-logo" src="/static/tabulo.png"/>
        </a>
      </div>
    </div>
    <script src="/static/js/vendor/palette.js"></script>
    <script src="/static/js/vendor/hextorgba.js"></script>
    <script src="/static/js/main.js"></script>
  </body>
</html>
